<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div>
    <h1>Another Pokemon API</h1>
    <p>Welcome to {{title}}, where we might just be able to make this work...<p>

    <ul id="navList">
        <li><a routerLink="pokemon">Pokemon</a></li>
        <li><a routerLink="item">Item</a></li>
    </ul>

    <router-outlet></router-outlet>
</div>